  <h1 class="top_h1">Book this bus</h1>
  <hr>
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"><%= @bus.name.capitalize %></th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><% if @bus.photo.attached? %>
        <%= cl_image_tag bus.photo.key, height: 200, width: 300, crop: :fill %>
           <% end %>
        </td>
      <td>
        <ul>
          <li><%= @bus.description %></li>
          <li>Capacity: <%= @bus.capacity %> pers.</li>
          <li><%= @bus.price %>$ / per night</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

  <%= simple_form_for [@bus, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Confirm" %>
  <% end %>
