  <div class="container">
    <h1 class="top_h1">Book this bus</h1>
    <table class="table">
    <thead>
      <tr>
        <th scope="col"><h2 style="text-align: left;"><%= @bus.name.capitalize %></h2></th>
        <th scope="col"><h3>Description</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= cl_image_tag @bus.photo.key, height: 200, width: 300, crop: :fill %></td>
        <td>
          <ul>
            <li><%= @bus.description %></li>
            <li>Capacity: <%= @bus.capacity %> pers.</li>
            <li><%= @bus.price %>$ / per night</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>


    <%= simple_form_for [@bus, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit "Confirm" %>
    <% end %>
</div>
