<h1>Dashboard(<%= current_user.email %>)</h1>
<h2>My reservations: </h2>

<div class="show_all">
  <% @bookings.each do |b| %>
    <div class="card">
      <h3>From: <%= b.start_date.strftime("%B %d, %Y") %></h3>
      <h3>To: <%= b.end_date.strftime("%B %d, %Y") %></h3>
    </div>
  <% end %>
</div>

<h2>My buses:</h2>
<div class="show_all">
  <% @buses.each do |b| %>
    <div class="card">
      <h3>Name: <%= b.name %></h3>
      <h3>Capacity: <%= b.capacity %></h3>
      <h3>Description: <%= b.description %></h3>
      <h3>Price: <%= b.price %> $ per/nigth</h3>
    </div>
  <% end %>
</div>
