<h1>Dashboard(<%= current_user.email %>)</h1>
<h2>My reservations: </h2>

<div class="show_all">
  <% @bookings.each do |b| %>
    <div class="card">
      <p>From: <%= b.start_date.strftime("%B %d, %Y") %></p>
      <p>To: <%= b.end_date.strftime("%B %d, %Y") %></p>
      <% diff = (b.end_date - b.start_date) %>
      <h3><%= (diff / 1.day).round %> Days</h3>
      <%= link_to 'Delete this reservation', @bus , method: :delete, class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
</div>

<h2>My buses:</h2>
<div class="show_all">
  <% @buses.each do |b| %>
    <div class="card">
      <%= cl_image_tag b.photo.key, height: 300, width: 400, crop: :fill %>
      <h3>Name: <%= b.name %></h3>
      <h3>Capacity: <%= b.capacity %></h3>
      <h3>Description: <%= b.description %></h3>
      <h3>Price: <%= b.price %> $ per/nigth</h3>
    </div>
  <% end %>
</div>
