<h1>ALAl</h1>

<% @buses.each do |bus| %>
  <div class="card">
    <h3><%= bus.name %></h3>
        <%= bus.price %>
        <%= bus.description %>
        <%= bus.user_id %>

  </div>
<% end %>

<%= current_user.email %>





