<div class="container">

  <div class="row justify-content-md-center show_card">
    <div class="col-md-12 col-lg-6">
      <% if @bus.photo.attached? %>
        <td class=""><%= cl_image_tag @bus.photo.key, crop: :fill %></td>
      <% end %>
    </div>
    <div class="col-md-12 col-lg-6">
      <h2><%= @bus.name.upcase %></h2>
      <p><%= @bus.description %></p>
      <p>Capacity: <%= @bus.capacity %> pers.</p>
      <p><%= @bus.price %>$ / per night</p>
      <% if current_user.id == @bus.user_id %>
        <%= link_to 'Edit this bus', [:edit, @bus], class: "btn btn-primary btn-sm" %>
        <% a = [] %>
          <% @bookings.each do |b| %>
            <% a.push(b.bus_id) %>
          <% end %>
          <% if a.exclude?(@bus.id) %>
            <%= link_to 'Delete this bus', @bus, method: :delete, data: {confirm: 'You are about to delete this bus?' }, class: "btn btn-primary btn-sm" %>
            <p>No bookings</p>
          <% else %>
          <br>
          <p>Booked dates:</p>
            <% @bookings.each do |b| %>
              <p><%= b.user.name.upcase %> : From <%= b.start_date.strftime("%B %d, %Y")  %> to <%= b.end_date.strftime("%B %d, %Y")  %></p>
              <hr>
            <% end %>
          <% end %>
      <% else %>
        <%= link_to 'Book me!', new_bus_booking_path(@bus), class: "button_slide slide_right" %>
      <% end %>
    </div>
    <table>
      <% @bus.reviews.each do |r| %>
      <tr>
        <td rowspan="2" class="review_td"><%= r.user.name.upcase %> 's review </td>
        <td class="review_td"><%= r.description %></td>
      </tr>
      <tr>
          <td class="review_td">
            <%= r.note %> <i class="fas fa-star"></i>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>


