<div class="container">

  <div class="row justify-content-md-center show_card">
    <div class="col-md-12 col-lg-6">
      <% if @bus.photo.attached? %>
        <td class=""><%= cl_image_tag @bus.photo.key, crop: :fill %></td>
      <% end %>
    </div>
    <div class="col-md-12 col-lg-6">
      <h2><%= @bus.name.upcase %></h2>
      <p><%= @bus.description %></p>
      <p>Capacity: <%= @bus.capacity %> pers.</p>
      <p><%= @bus.price %>$ / per night</p>
      <%= link_to 'Book me!', new_bus_booking_path(@bus), class: "button_slide slide_right" %>
    </div>
  </div>
</div>


